{% extends "base.html" %}
{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">{{ add_edit|capitalize }}</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-sm-2">
                Node Name:
                {{ form.name(size=16) }}
            </div>
            <div class="col-sm-2">
                Node Ip:
                {{ form.ip(size=16) }}
            </div>
            <div class="col-sm-2">
                Node Interface:
                {{ form.interface() }}
            </div>
            <div class="col-sm-2">
                Node Type:
                {{ form.node_type() }}
            </div>
            <div class="col-sm-2">
                In Use:</br>
                {{ form.in_use() }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><br>
                    <button value="add" type="submit" class="btn btn-success">{{ add_edit|capitalize }}</button>
                </p>
            </div>
        </div>
    </form>
    {% if "edit" in add_edit %}
        <form action="/delete/{{ form.node_id }}" method="post" name="edit_f">
            <button value="edit" type="submit" class="btn btn-danger btn-xs">Delete node and node data!</button>
        </form>
        {% endif %}
{% endblock %}