{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <h3 style="color: #009900">Network summary</h3>
            <h4 style="color: #116644;">Nodes</h4>
            <p>
                There are <b><span class="n_all_active_nodes">n_all_active</span></b> active nodes and
                <b><span class="n_up_nodes">n_up_nodes</span></b> are up.
            </p>
        </div>
        <div class="col-sm-6">
            <h3 style="color: #009900">Weather</h3>
            Weather info updated on <span id="valid">Updating...</span><br />
            *Radar info update on <span class="radar_updated_text">Updating...</span>
            <div style="border: 1px solid black; border-radius: 10px">
            <div class="row">

                <div class="col-sm-3 text-center">
                    <img id="clouds" src="" alt="Clear sky">
                </div>

                <div class="col-sm-3 text-center">
                    Temperature<br>
                    <b><span id="temperature">Updating...</span> °C</b>
                </div>

                <div class="col-sm-3 text-center">
                    Humidity<br>
                    <b><span id="humidity">Updating...</span> %</b>
                </div>

                <div class="col-sm-3 text-center">
                    Rain level*<br>
                    <b><span class="rain_level">Updating...</span></b>
                    <b>(<span class="rain_mmph">Updating...</span> mm/h)</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-center">
                    Wind direction<br>
                    <img id="wind_direction" src="" alt="No wind">
                </div>

                <div class="col-sm-3 text-center">
                    Wind speed<br>
                    <b><span id="wind_speed">Updating...</span> km/h</b>
                </div>

                <div class="col-sm-3 text-center">
                    Air pressure<br>
                    <b><span id="air_pressure">Updating...</span> hPa</b>
                </div>
                <div class="col-sm-3 text-center">
                    Sun radiance<br>
                    <b><span id="sun_radiance">Updating...</span> W/m2</b>
                </div>
            </div>
            </div>
            <br>

            <p>
                <img class="img-rounded img-responsive"
                     src="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/radar_anim.gif"><br>
                <br><a href="http://opendata.si">http://opendata.si/vreme/report/</a><br>
                <a href="http://meteo.arso.gov.si/uploads/probase/www/observ/surface/text/sl/observationAms_LJUBL-ANA_BEZIGRAD_history.html">
                     Observation station LJUBLJANA_BEŽIGRAD (46.065580, 14.512464)</a> <br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">

        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
    var lat = 46.08492521;
    var lon = 14.47540596;
    $.getJSON('http://opendata.si/vreme/report/?lat='+ lat +'&lon='+ lon, function (jdata) {
        $('p.test_c').text(jdata.copyright);
{#        var a = new Date(jdata.forecast.updated*1000);#}
{#        $('p.test_c2').text(a);#}
        $('span.rain_level').text(jdata.radar.rain_level);
        $('span.radar_updated_text').text(jdata.radar.updated_text);
        $('span.rain_mmph').text(jdata.radar.rain_mmph);
        $('span.location').text('lat: ' + lat.toString() + ' lon: ' + lon.toString())


    });

    $.getJSON('/api/network_summary', function (jdata) {
        $('span.n_all_nodes').text(jdata.network.n_all_nodes);
        $('span.n_all_active_nodes').text(jdata.network.n_all_active_nodes);
        $('span.n_up_nodes').text(jdata.network.n_all_up_nodes);


    });

    $.getJSON('/api/arso_weather_summary', function (jdata) {
        //$('#clouds').text(jdata.weather_1.clouds);
        $('#clouds').attr('src', jdata.weather_1.clouds);

        $('#temperature').text(jdata.weather_1.temperature);
        $('#humidity').text(jdata.weather_1.humidity);

        $('#wind_direction').attr('src', jdata.weather_1.wind_direction);

        $('#wind_speed').text(jdata.weather_1.wind_speed);
        $('#sun_radiance').text(jdata.weather_1.sun_radiation);
        $('#air_pressure').text(jdata.weather_1.air_pressure)
        $('#valid').text(jdata.weather_1.valid)

    });
});



</script>

{% endblock %}