{% extends "base.html" %}
{% block content %}
    <p>
    <b>A lot of information on the same page here will be :)</b>
    </p>
    Radar info update on: <span class="updated_text_radar">test3</span><br>
    Rain level: <span class="rain_level">test</span><br>
    Rain: <span class="rain_mmph">test2</span> mm/h<br>
    <img class="img-rounded" src="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/radar_anim.gif">

    <div class="row">
        <div class="col-sm-4">

        </div>
{#        <div class="col-sm-6">#}
{#            <img class="img-rounded" src="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/radar_anim.gif">#}
{#        </div>#}
    </div>

<script type="text/javascript">
$(document).ready(function() {
    var lat = 46.085129;
    var lon = 14.4754;
    $.getJSON('http://opendata.si/vreme/report/?lat='+ lat +'&lon='+ lon, function (jdata) {
        $('p.test_c').text(jdata.copyright);
{#        var a = new Date(jdata.forecast.updated*1000);#}
{#        $('p.test_c2').text(a);#}
        $('span.rain_level').text(jdata.radar.rain_level);
        $('span.updated_text_radar').text(jdata.radar.updated_text);
        $('span.rain_mmph').text(jdata.radar.rain_mmph);


    });
});



</script>

{% endblock %}