{% extends "base.html" %}
{% block content %}
    <p class="test_c">test</p>
    <p class="test_c2">test2</p>
    <p class="test_c3">test3</p><p class="test_c4">test3</p>
    <div class="row">
        <div class="col-sm-4">

        </div>
{#        <div class="col-sm-6">#}
{#            <img class="img-rounded" src="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/radar_anim.gif">#}
{#        </div>#}
    </div>

<script type="text/javascript">
$(document).ready(function() {
    $.getJSON('http://opendata.si/vreme/report/?lat=46.085129&lon=14.4754', function (jdata) {
        $('p.test_c').text(jdata.copyright);
{#        var a = new Date(jdata.forecast.updated*1000);#}
{#        $('p.test_c2').text(a);#}
        $('p.test_c3').text(jdata.radar.rain_level);
        var a = new Date(jdata.radar.updated*1000);
        $('p.test_c4').text(a);


    });
});



</script>

{% endblock %}