{% extends "base.html" %}
{% block content %}
    <h2>Indoor Environment stats</h2><br />
    <div class="row">
        <div class="col-sm-6">
            Node last updated on <span class="node_last_update_time">node last update time</span>
            <br />
            DS last updated on <span class="ds_last_update_time">ds last update time</span>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-4">
            <b>DS last reading:</b> <span class="ds_last_reading">DS last reading</span> °C<br />
            <b>Node-1 DS last reading:</b> <span class="node_ds_last_reading">Node DS last reading</span> °C<br />
            <b>Node-1 DHT last temperature reading:</b> <span class="node_dht_temp_last_reading">Node DS last reading</span> °C<br />
            <b>Node-1 DHT last humidity reading:</b> <span class="node_dht_hum_last_reading">Node DS last reading</span> %<br />
            <b>Node-1 LDR last light level:</b> <span class="node_ldr_last_light">Node-1 LDR last light level</span> e<br /><br />
        </div>
        <div class="col-sm-4">
            <b>DS mean temperature:</b> <span class="ds_average">DS average temperature</span> °C<br />
            <b>Node-1 DS mean temperature:</b> <span class="node_ds_average">Node-1 DS average temperature</span> °C<br />
            <b>Node-1 DS mean DHT temperature:</b> <span class="node_dht_temp_average">Node-1 DHT average temperature</span> °C<br />
            <b>Node-1 DS mean DHT humidity:</b> <span class="node_dht_hum_average">Node-1 DHT average humidity</span> %<br />
            <b>Node-1 LDR mean light level:</b> <span class="node_ldr_average_light">Node-1 LDR mean light level</span> e<br /><br />
        </div>
        <div class="col-sm-4">
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                For how long back do you want to see the data:
                {{ form.back_period(size=6) }}
                <button value="add" type="submit" class="btn btn-success">Show me</button>
            </form>
        </div>
    </div>
{#    <div id="test_c" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>#}

    <div class="row">

        <div class="col-sm-8">
            <div id="test_c1" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>
        </div>

        <div class="col-sm-4">
            <div id="test_c2" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>
        </div>
    </div>
    <script type="text/javascript">

$(document).ready(function() {
        // TEST
        $.getJSON("/api/get_environment_data/{{ back_period|safe }}", function (jdata) {
        $('span.ds_last_reading').text(jdata.ds_last_reading);
        $('span.node_ds_last_reading').text(jdata.node_ds_last_reading);
        $('span.node_dht_hum_last_reading').text(jdata.node_dht_hum_last_reading);
        $('span.node_dht_temp_last_reading').text(jdata.node_dht_temp_last_reading);


        $('span.ds_average').text(jdata.ds_average.toFixed(3));
        $('span.node_ds_average').text(jdata.node_ds_average.toFixed(3));
        $('span.node_dht_temp_average').text(jdata.node_dht_temp_average.toFixed(3));
        $('span.node_dht_hum_average').text(jdata.node_dht_hum_average.toFixed(3));

{#        $('span.last_hour_average').text(jdata.last_hour_average.toFixed(3));#}
        $('span.ds_last_update_time').text(jdata.ds_last_update_time);
        $('span.node_last_update_time').text(jdata.node_last_update_time);
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'test_c1',
{#                type: "column"#}
{#						height: 155#}

					},
                    title: {
                        text: 'Room - last ' +
                        jdata.back_period + ' readings ('
                        + jdata.scan_period + 's capture interval)',
                        x: -20 //center
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: [{
                        title: {
                            text: 'Temperature [°C]'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: 'Humidity [%]',
                            style: {
                                color: "blue"
                            }
                        },
                        opposite: true,
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    }],
                    plotOptions: {
                        line: {
                            marker: {
                                enabled: true
                            }
                        }
                    },
                    series: jdata.data
                });
            });


    $.getJSON("/api/get_light_data/{{ back_period|safe }}", function (jdata) {
        $('span.node_ldr_average_light').text(jdata.node_ldr_average_light.toFixed(3));
        $('span.node_ldr_last_light').text(jdata.node_ldr_last_light.toFixed(3));
{#        $('span.last_update_time').text(jdata.last_update_time);#}
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'test_c2',
{#                type: "column"#}
{#						height: 155#}

					},
                    title: {
                        text: 'Room light level - last ' +
                        jdata.back_period + ' readings ('
                        + jdata.scan_period + 's capture interval)',
                        x: -20 //center
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Light level [e]'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: 'e'
                    },
                    plotOptions: {
                        line: {
                            marker: {
                                enabled: true
                            }
                        }
                    },
                    series: jdata.data
                });
            });

        });
</script>
{% endblock %}