{% extends "base.html" %}
{% block table %}
<h1>Manage devices ?</h1>
    <style type="text/css">
        .lesko{
            border: 1px solid;
        }
    </style>

    <div>
        <form action="/add_device" method="post" name="add_f">
            <button value="add" type="submit" class="btn btn-success">Add Device</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Device Id</th>
                <th>Device Name</th>
                <th>Device Ip</th>
                <th>Interface</th>
                <th>Device Type</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for device in all_devices %}
            <tr>
                <td>{{ device.id }}</td>
                <td><strong>{{ device.name }}</strong></td>
                <td>{{ device.ip }}</td>
                <td>{{ device.interface }}</td>
                <td>{{ device.device_type if device.device_type != None else "" }}</td>
                <td>
                    <form action="/edit/{{ device.id|string }}" method="post" name="edit_f">
                        <button value="edit" type="submit" class="btn btn-default btn-xs">Edit</button>
                    </form>
                    <form action="/delete/{{ device.id|string }}" method="post" name="delete_f">
                        <button value="delete" type="submit" class="btn btn-danger btn-xs">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}