{% extends "base.html" %}
{% block content %}
    <div class="row">
    <div class="col-sm-12">
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-sm-4">
            <h4>Nodes view settings:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Node delay plot back period:
            {{ form.node_details_plot_back_period(size=5) }} readings
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Server view settings:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Server view back period:
            {{ form.server_temp_plot_back_period(size=5) }} readings
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Server max. processor temperature:
            {{ form.server_temp_proc_max_temp_limit(size=5)|string }} &deg;C
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p><br>
                <button value="save" type="submit" class="btn btn-success">Save Settings</button>
            </p>
        </div>
    </div>
</form>
        </div>
</div>
{% endblock %}