{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            Last updated on {{ update_time|format_datetime }}
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Node Name</th>
                <th>Node Address</th>
            </tr>
        </thead>
        <tbody>
        {% for node in data %}
            {% if node.up %}
        	    <tr class="success">
            {% else %}
                <tr class="danger">
            {% endif %}
            <td>
            <a href="/node_details/{{ node.id|string }}" style="color: black; text-decoration: none;">
            {% if node.interface == "WiFi" %}
                <span class="glyphicon glyphicon-signal"></span>
            {% else %}
                <span class="glyphicon glyphicon-hdd"></span>
            {% endif %}
            </a>
            {% if node.node_type == "web" %}
                &nbsp;<span class="glyphicon glyphicon-cloud"></span>
            {% else %}
                &nbsp;
            {% endif %}
            </td>

            <td>
                <a href="/node_details/{{ node.id|string }}" style="color: black; text-decoration: none;">
                    <strong>{{ node.name }}</strong>
                </a>
            </td>
            <td>
                <a href="/node_details/{{ node.id|string }}" style="color: black; text-decoration: none;">
                    {{ node.ip }}
                </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}