{% extends "base.html" %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-6">
            Last updated on {{ update_time|format_datetime }}
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Node Name</th>
                <th>Node Address</th>
{#                <th>Node last</th>#}
{#                <th>Node Delay [ms]</th>#}
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for node in data %}
            {% if node.up %}
        	    <tr class="success">
            {% else %}
                <tr class="danger">
            {% endif %}
            <td>
            {% if node.interface == "WiFi" %}
                <span class="glyphicon glyphicon-signal"></span>
            {% else %}
                <span class="glyphicon glyphicon-hdd"></span>
            {% endif %}
            {% if node.node_type == "web" %}
                &nbsp;<span class="glyphicon glyphicon-cloud"></span>
            {% else %}
                &nbsp;
            {% endif %}
            </td>

            <td><strong>{{ node.name }}</strong></td>
            <td>{{ node.ip }}</td>
            <td>
                <form action="/node_details/{{ node.id|string }}" method="post" name="details_f">
                    <button value="edit" type="submit" class="btn btn-info btn-xs">Details</button>
                </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{#    <div class="col-sm-6">#}
{#        <img src="http://www.arso.gov.si/vreme/napovedi%20in%20podatki/radar_anim.gif" class="img img-responsive">#}
{#    </div>#}
    </div>
{% endblock %}