{% extends "base.html" %}
{% block content %}
     <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Data for last <span class="num_of_readings">N</span> readings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            Last updated on {{ update_time|format_datetime }}
        </div>
        <div class="col-sm-6" align="right">
                <span>Set alarm processor temperature: {{ limits.proc_max_temp }} &deg;C</span>
            </div>
        </div>
    <div class="row" >
    {% for proc in stat_data %}
        <div class="col-sm-3" style="border: solid 4px lightgrey; border-radius: 8px;">
            <b>{{ proc.name + ":" }} </b>
            <h5>Temperature:</h5>
            <ul>
                <li>
                    {% if proc.last_reading >= limits.proc_max_temp %}
                        <span style="color: red">Last reading: {{ proc.temperature_last_reading|round(2) }} &deg;C</span>
                    {% else %}
                        <span>Last reading: {{ proc.temperature_last_reading|round(2) }} °C</span>
                    {% endif %}
                </li>
                <li>Mean temp: {{ proc.temp_mean|round(2) }} &deg;C</li>
                <li>St. dev.: {{ proc.temp_st_dev|round(2) }} &deg;C</li>
            </ul>
            <h5>Load:</h5>
            <ul>
                <li>Mean load: {{ proc.load_mean|round(2)|string }} %</li>
                <li>St. dev.: {{ proc.load_st_dev|round(2)|string }} %</li>
            </ul>
        </div>
    {% endfor %}
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12" align="right">
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                For how long back do you want to see the data:
                {{ form.back_period(size=6) }}
                <button value="add" type="submit" class="btn btn-success">Show me</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div id="plot_temperature_container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
    <div class="col-sm-6">
            <div id="plot_load_container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

    <br>

    <script type="text/javascript">
    $(document).ready(function() {
        $.getJSON("/api/server_data/{{ back_period|safe }}", function (jdata) {
            $('span.num_of_readings').text(jdata.chart_real_time_load.data[0].data.length);
            $('#plot_temperature_container').highcharts({
                title: {
                    text: 'Processor core temperatures',
                    x: -20 //center
                },
                xAxis: {
                        type: 'datetime'
                    },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                series: jdata.chart_real_time_temperature.data
            });

                $('#plot_load_container').highcharts({
                    title: {
                        text: 'Processor load',
                        x: -20 //center
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Load (%)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: '%'
                    },
                    plotOptions: {
                        line: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                     /* legend: {
                    enabled: false,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                }, */
                series: jdata.chart_real_time_load.data
            });
        });
            });
    </script>
{% endblock %}