{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <h2>Last Water Status</h2>
            <div class="row">
                <div class="col-sm-6">
                    Last updated on <span class="last_update_time">last update time</span>
                </div>
            </div>
            <div id="water_status_plot" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>
        </div>

        <!-- START consumption view -->
        <div class="col-sm-6">
            <h2>&nbsp;</h2>
            <div class="row">
                <div class="col-sm-6">
                    Last updated on <span class="last_update_time">last update time</span>
                </div>
            </div>
            <div id="water_consumption_plot" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>
        </div>
        <!-- END consumption view -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Enter current water status</h2>
        </div>
    </div>

    <form action="" method="post" name="login">
    {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-sm-6">
                <table class="table table-striped table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Water</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Hot Water</td>
                        <td>{{ form.hot(size=3) }}</td>
                    </tr>
                    <tr>
                        <td>Cold Water</td>
                        <td>{{ form.cold(size=3) }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><br>
                    <button value="save" type="submit" class="btn btn-success">Save Data</button>
                </p>
            </div>
        </div>
    </form>


     <script type="text/javascript">
$(document).ready(function() {
    $.getJSON("/api/water_data", function (jdata) {
        $('span.last_update_time').text(jdata.last_update_time);
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'water_status_plot',
                type: 'column'
            },
            title: {
                text: 'Water Status'
            },
            subtitle: {
                text: 'Last status of water distribution sensors'
            },
            legend: {enabled: false},
            xAxis: {
                categories: jdata.categories
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Water [m3]'
                }
            },
            tooltip: {
                enabled: false,
                valueSuffix: 'm3'},
            series: [{
                name: "Water status",
                data:  jdata.data,
                dataLabels: {
                    enabled: true,
                    align: 'center',
                    format: '{point.y:.3f} m3' // one decimal
                    }
            }]
        });
    });

    $.getJSON("/api/water_consumption_data", function (jdata) {
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'water_consumption_plot',
                    {#                type: "column"#}
                    {#						height: 155#}

                },
                title: {
                    text: 'Consumption [l/hour]'
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Consumption'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ' l/hour'
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                series: jdata.sum_consumption
            });
        });

});
</script>
{% endblock %}