{% extends "base.html" %}
{% block content %}
    <h2>ARSO Weather Data</h2><br />

    <div class="row">
        <div class="col-sm-6">
            Last updated on <span class="last_update_time">node last update time</span>
        </div>
        <div class="col-sm-6">
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                For how long back do you want to see the data:
                {{ form.back_period(size=6) }}
                <button value="add" type="submit" class="btn btn-success">Show me</button>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-8">
            <div id="temp_hum_plot" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>
        </div>

        <div class="col-sm-4">
            <div id="sun_radiation_plot" style="min-width: 400px; height: 400px; margin: 0 auto">Chart</div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <b>Last readings:</b><br />
            Temperature: <b><span class="temperature_last_reading">DS last reading</span> °C</b><br />
            Humidity: <b><span class="humidity_last_reading">Node DS last reading</span> %</b><br />
            Sun radiation: <b><span class="sun_radiance_last_reading">Node-1 LDR last light level</span> W/m2</b><br /><br />
        </div>
        <div class="col-sm-4">
            <b>Mean readings:</b><br />
            Temperature: <b><span class="temperature_average">DS last reading</span> °C</b><br />
            Humidity: <b><span class="humidity_average">Node DS last reading</span> %</b><br />
            Sun radiation: <b><span class="sun_radiance_average">Node-1 LDR last light level</span> W/m2</b><br /><br />
        </div>
    </div>


    <script type="text/javascript">

$(document).ready(function() {
        $.getJSON("/api/get_weather_arso_data/{{ back_period|safe }}", function (jdata) {
        $('span.humidity_average').text(jdata.humidity_average);
        $('span.sun_radiance_average').text(jdata.sun_radiance_average.toFixed(3));
        $('span.temperature_average').text(jdata.temperature_average.toFixed(3));
        $('span.humidity_last_reading').text(jdata.humidity_last_reading.toFixed(3));
        $('span.sun_radiance_last_reading').text(jdata.sun_radiance_last_reading.toFixed(3));
        $('span.temperature_last_reading').text(jdata.temperature_last_reading);
        $('span.last_update_time').text(jdata.last_update_time);
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'temp_hum_plot',
                zoomType: 'x',
                events: {
                    selection: function(event) {
                        onZoomHandler(event, 'sun_radiation_plot');
                    }
                }
            },
            title: {
                text: 'Ljubljana - last ' +
                jdata.back_period + ' readings ('
                + jdata.scan_period + 'min capture interval)',
                x: -20 //center
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{
                title: {
                    text: 'Temperature [°C]'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            {
                title: {
                    text: 'Humidity [%]',
                    style: {
                        color: "blue"
                    }
                },
                opposite: true,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            }],
            plotOptions: {
                line: {
                    marker: {
                        enabled: true
                    }
                }
            },
            series: jdata.data
        });

            var chart2 = new Highcharts.Chart({
            chart: {
                renderTo: 'sun_radiation_plot',
                zoomType: 'x',
                events: {
                selection: function(event) {
                    onZoomHandler(event, 'temp_hum_plot');
                }
            }

					},
                    title: {
                        text: 'Sun Radiation - last ' +
                        jdata.back_period + ' readings ('
                        + jdata.scan_period + 'min capture interval)',
                        x: -20 //center
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Radiation [W/m2]'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }],
                        min: 0
                    },
                    tooltip: {
                        valueSuffix: 'W/m2'
                    },
                    plotOptions: {
                        line: {
                            marker: {
                                enabled: true
                            }
                        }
                    },
                    series: jdata.sun_radiance_data
                });

        });


    function onZoomHandler(event, chartToUpdate)
    {
        var index = $('#' + chartToUpdate).data('highchartsChart');
        var chart = Highcharts.charts[index];
        if (event.xAxis)
        {
            chart.xAxis[0].setExtremes(event.xAxis[0].min, event.xAxis[0].max);
            if (!chart.resetZoomButton)
            {
                chart.showResetZoom();
            }
        }
        else
        {
            chart.xAxis[0].setExtremes(null, null);
            if (chart.resetZoomButton)
            {
                chart.resetZoomButton = chart.resetZoomButton.destroy();
            }
        }
    }

        });
</script>
{% endblock %}